/* Ketik code Anda dibaris terakhir */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://images.unsplash.com/photo-1581691762051-3af0c56106df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80);
  background-size: cover;
  color: white;
  text-align: left;
}

.top-wrapper h1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  margin-bottom: 3px;
  width: 50%;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

#btn-wrapper {
  animation-timing-function: ease-in-out;
}

@keyframes mymove {
  from {
    left: 300px;
  }
  to {
    left: 0px;
  }
}

.signup {
  background-color: #23253d;
  border-radius: 2em !important;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(35, 37, 61, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #212439;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #fff;
}

.heading h2 {
  font-size: 30px;
  font-weight: 800;
}

.heading p {
  margin-top: 15px;
  font-size: 15px;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon img {
  max-width: 80%;
}

.lesson-icon p {
  margin-top: 10px;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 10px;
  font-size: 13px;
  color: white;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  background-color: #ffd07e;
}

.message {
  padding: 15px 40px;
  background-color: #3b4488;
  cursor: pointer;
  box-shadow: 0 7px #1c2146;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  background-color: #212439;
  padding-top: 30px;
  padding-bottom: 20px;
}

/* Ketik code Anda dibawah */
span.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}
